
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    background-image: url('b1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #0d2f44;
    color: white;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0d2f44;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #0d2f44;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f80000;
}

input[type="text"], input[type="date"], input[type="time"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

button#ticket_panel{
    background-color: #a91717;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button#ticket_panel:hover{
    background-color: #c51e1e;
    transform: translateY(-2px);
}
